
.paragraph {
  font-size: 21px; /* Tamanho da fonte */
  line-height: 1.5; /* Altura da linha */
  color: #333; /* Cor do texto */
  margin-bottom: 20px; /* Margem inferior para separar os parágrafos */
  padding: 20px;
}

/* Estilização para parágrafos dentro de um container específico */
.container .paragraph {
  font-weight: bold; /* Texto em negrito */
  color: #ff69b4; /* Cor rosa */
}
.text-list {
  list-style-type: none;
  padding: 0;
}

.text-item {

  padding: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.text-item h3 {
  margin-top: 0;
}

.text-item p {
  margin: 5px 0;
}



/* TELAS PC */
@media (min-width: 769px) {


  .ajust_for_pc{
    width: 50%;
    margin-left: 400px;
    margin-top: -100px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
  }

  .text-item {
    flex: 0 0 25%; /* Cada item ocupa 25% da largura do contêiner */
    box-sizing: border-box;
    padding: 10px;
  }




}


/* Telas Mobile */
@media (max-width: 768px) {

  .text-item {
    flex: 0 0 25%; /* Cada item ocupa 25% da largura do contêiner */
    box-sizing: border-box;
    padding: 10px;
  }

}











