<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>



 <div class="painelButtons" >

   <button mat-fab extended
           color="primary"
           [routerLink]="['/home']"
           routerLinkActive="active"
           (click)="selectOption('home')"
           [ngClass]="{ 'selected': selectedOption === 'home' }">
     <i class="fi fi-sr-document-signed"></i>
   <span>Flashcards</span>
   </button>




     <button mat-fab extended
             color="primary"
             [routerLink]="['/expressionGenerator']"
             routerLinkActive="active"
             (click)="selectOption('expressionGenerator')"
             [ngClass]="{ 'selected': selectedOption === 'expressionGenerator' }"
     >
       <i class="fi fi-sr-add"  ></i>
       <span>Add Flashcards</span>
     </button>


   <button mat-fab extended
           color="primary"
           [routerLink]="['/practice']"
           routerLinkActive="active"
           (click)="selectOption('practice')"
           [ngClass]="{ 'selected': selectedOption === 'practice' }"
   >
     <i class="fi fi-sr-graduation-cap"></i>
     <span>Practice</span>
   </button>



   <button mat-fab extended
           color="primary"
           [routerLink]="['/frequency']"
           routerLinkActive="active"
           (click)="selectOption('frequency')"
           [ngClass]="{ 'selected': selectedOption === 'frequency' }"
   >
     <i class="fi fi-sr-calendar"></i>
     <span>Frequency</span>
   </button>

</div>







