/* styles.css (ou seu arquivo de estilo global) */

.dark-theme {
  background-color: #1c1c1c;
  color: #ffffff;
  /* Outros estilos específicos do modo escuro */
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
  /* Outros estilos específicos do modo claro */
}




/* TELAS PC */
@media (min-width: 769px) {


  .containerPainel {
    display: flex;
    align-items: center;
  }

  .painel {
    color: #fff;
    width: 20%; /* Alterado para 30% para acomodar o conteúdo principal */
    padding: 10px;
    border-radius: 0px;
    height: 240px;
    margin-top: -100px;
  }

  .conteudo {
    padding: 20px;
    background-color: #333;

    width: 100%; /* Ocupa 70% da tela */
    height:800px;
  }


}





/* Telas Mobile */
@media (max-width: 768px) {
  .painel {
    display: none; /* Esconder a barra de menu */
  }
}
