.logo {
  font-size: 26px;
  font-weight: bold;
  margin-right: auto;
  font-family: 'Bangers', cursive;

  background: linear-gradient(45deg, #00ffff, #800080); /* Gradiente ciano a roxo */
  background-clip: text; /* Aplicar o gradiente ao texto */
  -webkit-background-clip: text; /* Para navegadores baseados em Webkit */
  color: transparent; /* Tornar o texto transparente para mostrar o gradiente */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1); /* Text-shadow branco bonito */
  letter-spacing: 2px; /* Aumentar o espaçamento entre as letras */
  padding-right: 10px; /* Adicionar um espaço extra à direita */

  text-align: center;
  margin: 20px;
  padding: 4px;

}

.paragraph {
  font-size: 21px; /* Tamanho da fonte */
  line-height: 1.5; /* Altura da linha */
  color: #333; /* Cor do texto */
  margin-bottom: 20px; /* Margem inferior para separar os parágrafos */
  padding: 20px;
}

/* Estilização para parágrafos dentro de um container específico */
.container .paragraph {
  font-weight: bold; /* Texto em negrito */
  color: #ff69b4; /* Cor rosa */
}
.text-list {
  list-style-type: none;
  padding: 0;
}

.text-item {

  padding: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.text-item h3 {
  margin-top: 0;
}

.text-item p {
  margin: 5px 0;
}



/* TELAS PC */
@media (min-width: 769px) {


  .ajust_for_pc{
    width: 50%;
    margin-left: 400px;
    margin-top: -100px;
  }


}


/* Telas Mobile */
@media (max-width: 768px) {

}




.card-container {
  display: flex;
  flex-wrap: wrap;
}

.text-item {
  flex: 0 0 25%; /* Cada item ocupa 25% da largura do contêiner */
  box-sizing: border-box;
  padding: 10px;
}








