<main [@fadeInOut]>
  <div style="height: 800px; overflow-y: scroll; overflow-x: hidden">
    <mat-card-content>
      <div *ngIf="listWords$ | async as words" class="text-list">
        <div class="card-container">
          <div *ngFor="let word of words" class="text-item">
            <mat-card style="background: #1c1c1c; border-radius: 20px">
              <mat-card-header>
                <mat-card-title style="color: #00ffff; font-size: 16pt; padding: 20px">{{ word.english }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <h4 style="color: #00ffff">Em Português: {{ word.portugues }}</h4>
                <p>{{ word.explain }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-card-content>
  </div>
</main>
