<main [@fadeInOut]>


  <mat-card class="ajust_for_pc" style="background: transparent;" >
        <mat-card-header>
          <h4 class="logo">My Saved Slangs </h4>
        </mat-card-header>
    <mat-card-content>

      <ul class="text-list">
        <li>
          <div class="text-item">
            <h3>Título do Item 1</h3>
            <p>Descrição do Item 1. Essa é a primeira linha.</p>
            <p>Segunda linha de descrição do Item 1.</p>
          </div>
        </li>
        <li>
          <div class="text-item">

            <div *ngIf="listWords$ | async as words">
              <div *ngFor="let word of words">
                {{ word.english }} <!-- Substitua propertyName pelo nome da propriedade que deseja exibir -->
              </div>
            </div>
          </div>
        </li>
        <!-- Adicione mais itens conforme necessário -->
        <ng-template *ngFor="let x of listWords$ | async">
               {{x.english}}
        </ng-template>
      </ul>




    </mat-card-content>
  </mat-card>

</main>

