/* toolbar.component.css */
/* styles.css (ou styles.scss)@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');  font-family: 'Chewy', cursive; */



@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.mat-toolbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adicione uma sombra */
  color: white;

  background-color: #333;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo{
  margin: 0px;

}
