/* You can add global styles to this file, and also import other style files */
/* styles.css (ou styles.scss) */


html, body { height: 100%; background: #1c1c1c; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* styles.css (ou seu arquivo de estilo global) */

.dark-theme {
  background-color: #1c1c1c;
  color: #ffffff;
}


/* Estilos globais para o body */
body.dark-theme {
  background-color: #1c1c1c;
  color: #ffffff;
  transition: background-color 0.5s ease, color 0.5s ease; /* Adicione a transição suave */
}


.logo {
  font-size: 26px;
  font-weight: bold;
  margin-right: auto;
  font-family: 'Bangers', cursive;

  background: linear-gradient(45deg, #00ffff, #800080); /* Gradiente ciano a roxo */
  background-clip: text; /* Aplicar o gradiente ao texto */
  -webkit-background-clip: text; /* Para navegadores baseados em Webkit */
  color: transparent; /* Tornar o texto transparente para mostrar o gradiente */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1); /* Text-shadow branco bonito */
  letter-spacing: 2px; /* Aumentar o espaçamento entre as letras */
  padding-right: 10px; /* Adicionar um espaço extra à direita */

  text-align: center;
  margin: 20px;
  padding: 4px;

}

.divLine {
  height: 1px;
  background-color: #1c1c1c;
  margin: 10px 0; /* Ajuste as margens conforme necessário */
}

button:focus,
button:active,
a:focus,
a:active {
  outline: none !important;
  text-decoration: none;
}
